/* Give your page a fun background color */
body {
    background-color: #eee5e9;
}
/* Make the header and footer a different color from the background */
header, footer { 
    background-color: #6d8ea0;
}
/* Align the h1 containing your name in the center of the header*/
.name {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    color: #052f5f;
    font-style: italic;
}
/* Put a border around your image */
img {
    height: 400px;
    border: solid #55793e;
}
/* Change the font-family of your list */
ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}